{% include "header.html" %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
<h3>About US</h3>
<div class="px-4 pt-5 my-5 text-center border-bottom">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Principal Aim</h5>
          <p class="card-text">Our principal aim is to ensure rapid development of the community by providing a forum
            which would make it possible for the people to show high sense of reponsibility in the social and 
            economic develipment programmes of the community</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Our Vision</h5>
          <p class="card-text">We are here to create a condusive and secure environment free from hate. We are here
            to promote community spirit or sense of belonging among the peope and thereby create atmosphere of friendliness 
            which would engender cooperation in all programmes designed for the progress of the community</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Our Motto</h5>
          <p class="card-text">SELF HELP<br>BEST HELP<br>SUREST HELP.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h3>ESTATE EXECUTIVES</h3>
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <center>
    <div class="row row-cols-1 row-cols-md-1 g-4">
        <div class="col">
            <div class="card h-25"  style="width: 18rem;">
                <img src="./static/images/male.png" class="card-img-top" alt="CHAIRMAN PICS">
                <div class="card-body">
                  <h5 class="card-title">CHAIRMAN</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-35"   style="width: 18rem;">
                <img src="./static/images/male.png" class="card-img-top" alt="VICE CHAIRMAN PICS">
                <div class="card-body">
                  <h5 class="card-title">VICE - CHAIRMAN</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-25"  style="width: 18rem;">
                <img src="./static/images/male.png" class="card-img-top" alt="GEN SEC PICS">
                <div class="card-body">
                  <h5 class="card-title">GENERAL SECRETARY</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-25"  style="width: 18rem;">
                <img src="./static/images/male.png" class="card-img-top" alt="AGS PICS">
                <div class="card-body">
                  <h5 class="card-title">ASSITANT GENERAL SECRETARY</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-25"  style="width: 18rem;">
                <img src="./static/images/male.png" class="card-img-top" alt="FIN SEC PICS">
                <div class="card-body">
                  <h5 class="card-title">FINANCIAL SECRETARY</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-25"  style="width: 18rem;">
                <img src="./static/images/female.png" class="card-img-top" alt="TREASURER PICS">
                <div class="card-body">
                  <h5 class="card-title">TREASURER</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-25"  style="width: 18rem;">
                <img src="./static/images/male.png" class="card-img-top" alt="CSO PICS">
                <div class="card-body">
                  <h5 class="card-title">CHIEF SECURITY OFFICER</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-25"  style="width: 18rem;">
                <img src="./static/images/female.png" class="card-img-top" alt="SOC SEC PICS">
                <div class="card-body">
                  <h5 class="card-title">SOCIAL  SECRETARY</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-25"  style="width: 18rem;">
                <img src="./static/images/male.png" class="card-img-top" alt="PRO PICS">
                <div class="card-body">
                  <h5 class="card-title">PUBLIC RELATIONS OFFICER</h5>
                </div>
            </div>
        </div>
    </center>
    </div>
{% include "footer.html" %}