{% include "header.html" %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h3>New Estate Dues Effective 01 January, 2025</h3>
</div>
        <!-- Main Content-->
        <div class="container">
        <main class="mb-4">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Unit Type</th>
                    <th scope="col">Annual Due (=N=)</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <th scope="row">1</th>
                    <td>Bungalow</td>
                    <td>30,000 per Bungalow</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Flats</td>
                    <td>20,000 per Flat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Duplex</td>
                    <td>40,000 per Duplex</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Single Rom</td>
                    <td>10,000 per Single Room</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Mini Flats</td>
                    <td>15,000 per Mini Flat</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Self Contained</td>
                    <td>12,000 per Self Contained</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>Commercial</td>
                    <td>80,000 per Building</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Network Mast</td>
                    <td>200,000 per annum</td>
                  </tr>
                </tbody>
              </table>
        </main>
    </div>
{% include "footer.html" %}